/*Para Pc*/
@media (min-width: 668px) {

  .image-container {
    background-image: url("imgs/logo_header.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 50vw;
    height: 15vh;
  }
}





/*Para Mobiles*/
@media (max-width: 667px) {
  .nav {
    z-index: 999999999;
  position: fixed;
  bottom: 0;
  
  }
  .image-container {
    background-image: url("imgs/logo_mv.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 15vh;
    width: 100%;
  }
}





