@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

.body {
    width: 10vw;
    overflow-x: hidden;
}

.head {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav button {
    text-decoration: none;
    font-weight: 700;
    color: rgb(21, 21, 21);
    border: none;
  }


.sugerencias {
    width: 100vw;
    padding:3vw 3vw 3vw 3vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}

.sugerenciauno, .sugerenciados {
    width: 45vw;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    background-color: #f3f3f3;
    box-shadow: 0px 2px 15px #4242424e;
    border: none;
    display: flex;
}
  

    .image-container {
      background-image: url("imgs/logo_header.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      width: 29vw;
      height: 15vh;
    }

    .nav .materias {
      display: none;
    }
  
    .nav a img {
      display: none;
    }
  
    .caca {
      width: 100%;
      height: 14vh;
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      overflow-x: auto;
      justify-content: center;
  
    }
  
    .cas {
      margin-top: 4px;
      margin-right:20px ;
      outline: 2px solid rgb(162, 162, 162);
      border-radius: 500px;
      padding: 10px 25px;
      -webkit-border-radius: 500px;
      -moz-border-radius: 500px;
      -ms-border-radius: 500px;
      -o-border-radius: 500px;
    }
  
    .cas:hover {
    cursor: pointer;
    background-color: #8d8d8d;
    color: #ffffff;
    outline: none;
    }



.div-inicio {	
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  box-sizing: border-box;
  padding: 3vw;
  position: absolute;
  top: 0;
  background-color: #ffffff;
  display: none;
}


.div-inicio div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 100%;
  padding: 20px 70px;
  border-radius: 50px;
}

.headerdos {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  box-shadow: 0px 0px 15px #0000001b;
  width: 100%;
  left: 0;
  height: 7vh;
  padding: 5px 15px;
  align-items: center;
  background-color: #fff;
}

.headerdos span {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: left;
  width: 70%;
  height: 100%;
}

.headerdos span img {
  margin-right: 20px;
  height: 99%;
  object-fit: contain;
}


.spansuper a {
  text-decoration: none;
  color: #5f6368;
  font-size: 16px;
  padding: 11px;
}



.spansuper a:hover {
  background-color:#f7f7f7;
  border-radius: 100px;
  color: #000;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}





.headerdos button {
  width: 20vw;
  height: 95%;
  border: none;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  font-weight: 600;
  color: #fff;
  background-color: rgb(0, 145, 255);
  cursor: pointer;
  font-size: 16px;
}



.desplegable {
  padding-top:10vh !important;
}


.div-inicio div span {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.div-inicio div img {
  width: 50%;
  height: 40vh;
  object-fit: scale-down;
}

.title-div {
  font-size: 36px;
  text-align: left;
  color: #202125;
  width: 80%;
}

.tintro {
  font-size: 36px;
  color: #202125;
  font-weight: 500;

}

.pintro {
  font-size: 16px;
  color: #3c4043;
  text-align: center;
  margin-top: 20px;
  padding: 0px 50px;
}

.p-div {
  font-size: 16px;
  color: #3c4043;
  text-align: justify;
  margin-top: 10px;
  width: 80%;
}

.title h1 {
  font-size: 36px;
  color: #202125;
  font-weight: 600;
  margin-top: 100px;
}

.mostrar {
  display: block;
  animation: mostrar-div .5s;
  -webkit-animation: mostrar-div .5s;
}

.ocultar {
  animation: mostrar-divd .5s forwards;
  -webkit-animation: mostrar-divd .5s forwards;
}

@keyframes mostrar-div {
  0% {
    transform: translateY(100vw);
    -webkit-transform: translateY(100vw);
    -moz-transform: translateY(100vw);
    -ms-transform: translateY(100vw);
    -o-transform: translateY(100vw);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

  100% {
    top: 0;
    border: none;
}
}

@keyframes mostrar-divd {
  0% {    top: 0;
    border: none;
  }

  100% {
    transform: translateY(100vw);
    -webkit-transform: translateY(100vw);
    -moz-transform: translateY(100vw);
    -ms-transform: translateY(100vw);
    -o-transform: translateY(100vw);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
  }
  
}

#bienvenidaintro {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
} 