@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    transition: all 0.5s;
    -webkit-transition: all ;
    -moz-transition: all ;
    -ms-transition: all ;
    -o-transition: all ;
}

body.dark {
    background-color: #1f1f1f;
    color: #ffffff;
}

.head {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav a {
    text-decoration: none;
    font-weight: 700;
    color: rgb(21, 21, 21);
  }

  nav.dark a {
    color: #ffffff;
  }

button {
    width: 50%;
    height: 20vh;
}