


.nav {
    box-sizing: border-box;
    background-color: #0c0e10;
    width: 280px;
    max-width: 280px;
    height: 100%;
    overflow: hidden;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    z-index: 99;
    display: block;
}

.nav div{
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #d5d5d532;
    margin-top: 50px;
    padding-bottom: 10px;
}

.nav div a {
    padding: 14px 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: #d5d5d5;
    text-decoration: none;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    transition:all .5s;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    -ms-transition:all .5s;
    -o-transition:all .5s;
    margin-top: 5px;
}

.nav div a:hover {
    background-color: #191d20;
    color: #fff;

}

.nav div a:hover > .icon_nav {
    filter: invert(1);
    -webkit-filter: invert(1);
}

.icon_nav {
    width: 10%;
    height: 100%;
    margin-right: 10px;
    filter: invert(.8);
    -webkit-filter: invert(.8);
}

.nav div span {
    font-weight: bold;
    color: #ebebeb;
    margin-bottom: 10px;
    font-size: 17.5px;
}

.img_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none !important;
    margin: none !important;
}

.img_nav_div {
    width: 70%;
}

#close_button {
    position: fixed;
    display: none;
    top: 10px;
    right: 10px;
    padding: 10px;
    height: 50px;
    width: 50px;
    border-radius:50px ;
    -webkit-border-radius:50px ;
    -moz-border-radius:50px ;
    -ms-border-radius:50px ;
    -o-border-radius:50px ;
    background-color: #191d20;
    z-index: 9999;
}

.rellenoimpedido {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
    z-index: 98; /* Un nivel inferior al nav */
}