.superbody {
    padding-left: 290px;
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.supernav {
    background-color:#191d20;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    overflow-x: hidden;
    padding: 10px;
    height: auto;
}

.supernav_buscar {
    height:25px;
    width: 350px;
    min-width: 290px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #272a30;
    align-items: center;
    margin: 10px 0px;

}

.supernav_buscar input {
    background-color: transparent;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding: 0px 10px;
    font-size: 18px;
}

.supernav_buscar input:focus {
    outline: none;
    border: none;
}

.supernav_buscar img {
    height: 80%;
    filter: invert(.8);
    -webkit-filter: invert(.8);
}

.supernav_filtro {
    background-color: #272a30;
    padding: 5px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    height: 35px;
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
}



.supernav_filtro_button {
    font-size: 16px;
    background-color: transparent;
    outline: none;
    border: none;
    padding: 12px 17px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 1px;
}

.supernav_filtro_button:hover {
    background-color: #191c21;
}

.supernav_img {
    width: 20px;
    margin-right: 5px;
    filter: invert(.8);
    -webkit-filter: invert(.8);
}

.materias_div {
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

.materias_div h1 {
    font-weight: 500;
    font-size: 40px;
}