


#superbody {
    box-sizing: border-box;
    display: flex;
    flex-direction: column ;
flex-wrap: wrap;
    z-index: 1;
    width: 100%;
}

.relleno {
    padding: 140px;
    height: 100%;
}

.supernavmega {
    position: fixed;
    width: 100%;
    left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    z-index: 99;
}

.rellenosupernav {
    padding: 0px 140px;
}

.supernav {
    width: 100%;
    background-color:#191d20;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    padding: 10px;
    height: auto;

}

.supernav_buscar {
    
    height:25px;
    width: 350px;
    min-width: 290px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #272a30;
    align-items: center;
    margin: 10px 0px;

}

.supernav_buscar input {
    background-color: transparent;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding: 0px 10px;
    font-size: 18px;
}

.supernav_buscar input:focus {
    outline: none;
    border: none;
}

.supernav_buscar img {
    height: 80%;
    filter: invert(.8);
    -webkit-filter: invert(.8);
}

.supernav_filtro {
    background-color: #272a30;
    padding: 5px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    height: 35px;
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
}



.supernav_filtro_button {
    font-size: 16px;
    background-color: transparent;
    outline: none;
    border: none;
    padding: 12px 17px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 1px;
    text-decoration: none;
}

.supernav_filtro_button:hover {
    background-color: #191c21;
}

.supernav_img {
    width: 20px;
    margin-right: 5px;
    filter: invert(.8);
    -webkit-filter: invert(.8);
}



.materias_div {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;


}


.materia_contenedor {
    flex-grow: 1;
    overflow: hidden ;
    height: auto;
    width: 25%;
    min-width: 250px ;
    padding: 15px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    background-color:#191d20 ;
    margin: 8px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.infouno:hover {
    background-color: transparent;
}

.infouno {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    height: 100%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}


.infouno_p , .proposito_p {
    margin: 20px 0px;
    font-size: 15px;   
    text-align: justify;
}



.tags {
    margin: 0px 0px 20px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tag_tag {
    font-size: 14px;
    background-color: #272a30;
    padding: 5px 10px;
    margin: 2.5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.arribainfo {
    background-color: #111315;
    padding: 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 10px;
}

.arribainfo img {
    width: 20%;
    margin-right: 10px;
    filter: invert(.8);
    -webkit-filter: invert(.8);
}

.abajoinfo {
    background-color: #111315;
    padding: 15px;
    border-radius: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: space-around;
    justify-content: space-around;
}

#especial_relleno , #especial_relleno div img {
    background-color: transparent;
    color: transparent;
    filter: opacity(0) ;
    -webkit-filter: opacity(0) ;
    cursor: default;
}


.info_datos {
    margin: 0px 9px;
    height: 20px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    z-index: 0;

}

.info_datos_img {
    height: 100%;
    filter: invert(.8);
    -webkit-filter: invert(.8);
    margin-right: 6px
}


.h1_separador {
    padding-top: 90px;
    margin-left: 40px;

}

.cuestinariosdiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;

}


.cuestionariomateria {
    width: 250px;
    flex-grow: 1;
    overflow: hidden ;
    height: auto;
    min-width: 200px ;
    padding: 15px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    background-color:#191d20 ;
    margin: 8px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.info_cuestionario {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    align-content: center;
    background-color: #111315;
    padding: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.info_cuestionario img {
    width: 15%;
    margin-right: 20px;
    filter: invert(.8);
    -webkit-filter: invert(.8);
}

.archivos_materias_cuestiona {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    align-content: space-around;
    justify-content: space-around;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: #111315;
    margin-top: 10px;
    height: 100%;
}




.link_descarga {

    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    align-content: center;
    text-decoration: none;

}

.link_descarga:hover {
    text-decoration: underline;
}

.link_descarga img{
    width: 10%;
    filter: invert(.8);
    -webkit-filter: invert(.8);
    margin-right: 10px;
}

