
.contenedor_articulos{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
.articulo-blog {
    margin: 10px;
    text-decoration: none;
    cursor: pointer;
    flex-grow: 1;
    width: 150px;
    max-width: 170px;
    overflow: hidden;
    padding: 15px;
    background-color: #191d20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}


.articulo-blog:hover {
    background-color: #262c30;
    text-decoration: underline;
}


.articulocont-arriba {
    display: flex;

justify-content: center;  
  align-items: center;
  margin-bottom: 15px;
}

.articulocont-arriba img {
    border-radius: 30px;
    width: 95%;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.articulocont-arriba img:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.articulocont-abajo {
    display: flex;
    flex-direction: column;
}

.articulocont-abajo h2 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.articulocont-abajo span {
    margin-top: 7px;
}