@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


* {
  font-family: 'Roboto', sans-serif;
  color: #d5d5d5;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;

}

body {
  background-color: #111315;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;

}

/* Estilos para la barra de desplazamiento */
/* Webkit (Chrome, Safari, Opera) */
::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: rgb(17, 19, 21);
}

::-webkit-scrollbar-thumb {
  background: rgb(39, 42, 48);
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(84, 91, 105);
}



#materia_rellenooo {
  color: transparent;
  background-color: transparent;
  cursor: auto;
}

.div_compartir {
  position: fixed;
  z-index: 9999999;
  width: 100%;
  height: 100vh;
  background-color: #111315c9;
  display: none;
  justify-content: center;
  align-items: center;
}

.div_compartir_visible {
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}

.cerrar-share {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

#btn-share-x {
  border: none;
  cursor: pointer;
  outline: none;
  background: none;
  
}

#btn-share-x img {
  width: 30px;
  filter: invert(.8);
  -webkit-filter: invert(.8);
}

.compartir_contenido {
  background: #0c0e10;
  padding: 40px;
  max-width: 800px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding-top: 20px;
}

.arriba_compartir {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.arriba_compartir img {
  margin: 0;
  max-width: 250px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  margin-bottom: 10px;
  
}

.link {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #191d20;
  padding: 5px;
  border-radius:20px ;
  -webkit-border-radius:20px ;
  -moz-border-radius:20px ;
  -ms-border-radius:20px ;
  -o-border-radius:20px ;
}

.link p {
  color: #d5d5d5;
padding: 0;
margin: 0;
}

.link button {
  cursor: pointer;
  border-radius: 20px;
  margin: 0;
  padding: 10px 10px ;
  background-color: #0c0e10;
  outline: none;
  border: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.abajo_compartir {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.btn-sharessss {
  cursor: pointer;
  background-color: #111315;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: auto ;
  height: auto;
  justify-content: center;
  margin-top: 15px;
  align-items: center;
  padding: 8px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  outline: none;
  border: none;
  font-size: 15px;
  font-weight: bold;
  margin-right: 5px;
}


.btn-sharessss img {
  box-sizing: border-box;
  width: 25px;
  padding: 3px;
  filter: invert(1);
  -webkit-filter: invert(1);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #210f0054;
  pointer-events: none; /* Permite la interacción con los elementos subyacentes */
  z-index: 999999999999999999999999999999999999; /* Asegura que la superposición esté en la parte superior */
}

#h1_separador_cuestionarios {
  display: flex;
  align-items: center;
}


#nube_infoo {
  width: 39px;
  margin-left: 10px;
  cursor: pointer;
  filter: invert(0.7);
  -webkit-filter: invert(0.7);
  position: relative;
  padding-top: 20px
  ;
  
}

