

/* Estilos específicos para dispositivos móviles */
@media only screen and (max-width: 600px) {
    /* Aquí van los estilos para dispositivos móviles */
    #nav {
    display: none ;
    width: 100%;
    max-width: 100%;
    height: 100%;
    bottom: 0;
    overflow-y: auto !important;
    z-index: 999999999999;
}

    .relleno {
        display: none;
    }

    .rellenosupernav {
        display: none;
    }

    .supernav_filtro {
        background-color: transparent;
        flex-wrap: nowrap;
        height: auto;
        width: 100%;
        justify-content: space-evenly;
        padding: 0;
        margin: 0;
    }

    .supernav_filtro_button { 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: space-around;
        width: auto;
    }

    .supernav_img {
        padding: 7px 25px;
        margin-bottom: 5px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
}

    .supernavmega {
        bottom: 0;
    }


    .supernav {
        background: #191d20;
}

    .h1_separador {
        padding-top: 20px;
    }

    .secciondos {
        display: none;
    }

    .secciondos , .secciontres {
        justify-content: center;
    }

    #a_licencia {
        display: none;
    }

    #button_menu {
        display: flex;
        width: 46%;
    }

    .materia_contenedor {
        padding: 7px;
        width: 40%;
        max-width: 45%;
        min-width: 0px !important;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        margin: 5px;

        
}

#materia_rellenooo {
    display: none;
}

    .materias_div {
        padding: 10px 5px;
        padding-top: 15px;


}

    h2 {
        font-size: 15px;
    }

    .abajoinfo {
        display: none;
    }

    .arribainfo {
        margin: 0;
        background: none;
        justify-content: left;
        background-color: #111315;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        height: 60px;
        padding: 18px 12px;
        height: auto;
}

 #especial_relleno {
    display: none;
 }

.arribainfo img {
    width: 29px;
}

    .cuestinariosdiv {
        padding: 8px;

}

    .cuestionariomateria {
        margin: 4px;
        padding: 7px;
        max-width: 95%;
    }

    .archivos_materias_cuestiona {
        display: none;
    }

    .boton_cuestioanrio_uno {
        display: inline-block;
        background-color: #191d20;
        border: none;
        outline: none;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
        height: 20px;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
}

    .boton_cuestioanrio_uno img {
        width: 20px;
        display: inline-block;
        margin: 0;
    }

    .cuestionario_aparecer {
        display: block !important;
    }

    .boton_rotate {
        transition: all 0.5s;
        rotate: 180deg;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
}

.maspaginasdiv {
    box-sizing: border-box;
    flex-wrap: wrap;
    padding: 20px 10px;
}

    .otrapagina {
        height: auto;
        flex-grow: 1;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        width: 40% !important;
    }

    .otrapagina img{
        height: 49px !important;
        width: 49px !important;
        margin-right: 10px !important;
    }

    .info_cuestionario {
        background-color: transparent !important;
    }

.otraspaginap {
display: none !important;
}

    .partedelvolador p , .info_volador p {
        font-size: 15.6px !important;
    }

    .boton_video {
        padding: 10px  15px !important;
    }

    .partedelvoladorconvideo {
        padding: 0 !important;
    }

    .div_botonvideo {
        flex-grow: 1 !important;
        margin: 3px;
    }

    .video {
        width: 90vw !important;
        height: 200px !important;
    }

    .otronavmas {
        width: 100% !important;
        height: auto !important;
        justify-content: center !important;
        align-items: center !important;
        align-content: center !important;
    }

    .infoss {
        box-sizing: border-box;
        margin-bottom: 10px !important;
        padding: 15px !important;
    }

    .partedelvolador p, .info_volador p {
        margin-bottom: 10px !important;
    }

    .info_volador {
        border-radius: 0 !important;
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        -ms-border-radius: 0 !important;
        -o-border-radius: 0 !important;
}

    .otronav_img {
        height: 39px !important;
        margin-bottom: 15px !important;
    }

    .otronav_button {
        padding: 10px 15px !important;
    }

    .info_volador {
        margin-top: 150px !important;
    }

    .partedelvolador h2, .partedelvolador h1, .info_volador h1 {
        font-size: 25px !important;
    }

    .img-info-volador {
        width: 30px !important;
    }

    .supernav_rigth {
        margin-top: 10px !important;
    }

    .div_compartir_visible {
       align-items: end !important; 
       backdrop-filter: blur(10px);
    }

    .compartir_contenido {
        width: 100% !important;
        border-radius: 40px 40px 0px 0px;
        -webkit-border-radius: 40px 40px 0px 0px;
        -moz-border-radius: 40px 40px 0px 0px;
        -ms-border-radius: 40px 40px 0px 0px;
        -o-border-radius: 40px 40px 0px 0px;
}


.contenedor_articulos {
    padding:10px !important ;
}

.articulo-blog {
    width: 110px !important;
    max-width: 150px !important;
}


.superior_articulo {
    flex-direction: column-reverse !important;
    height: auto !important;
    flex-wrap:nowrap !important;
    text-align: center;
    align-items: center;
}

.superior_articulo_izquierda {
    width: 100% !important;
}

.superior_articulo_izquierda_h1 {
    font-size: 40px !important;
}

.superior_articulo_izquierda_span {
    font-size: 18px !important;
}

.button_salir_blog{
    width: auto !important;
}

.superior_articulo_izquierda {
    padding-left: 20px !important;
}

.superior_articulo_izquierda_etiquetas {
    display: inline-block !important;
    margin-bottom: 10px;
    margin-top: 10px;
}

.contendio_articulo_text {
    width: 90% !important;
}

.superior_articulo_derecha_img {
    margin-top: 50px;
}

.bienveniicda {
    padding: 20px;
    box-sizing: border-box;
    height: 85vh;
}

.bienveniicda h1 {
    font-size: 50px;
}

.bienveniicda p {
    font-size: 20px;
}





  }