


#superbody {
    box-sizing: border-box;
    display: flex;
    flex-direction: column ;
flex-wrap: wrap;
    z-index: 1;
    width: 100%;
}

.relleno {
    padding: 140px;
    height: 100%;
}

.supernavmega {
    position: fixed;
    width: 100%;
    left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    z-index: 99;
}

.rellenosupernav {
    padding: 0px 140px;
}

.supernav {
    display: none;
    width: 100%;
    background-color:rgb(17, 19, 21);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    height: auto;

}

@media only screen and (min-width: 600px) {

.supernav {
    display: none;
    width: 100%;
    background-color:rgb(17, 19, 21);
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    height: auto;

}
}

.supernav_filtro {
    background-color: #272a30;
    padding: 5px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    height: 35px;
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
}



.supernav_filtro_button {
    font-size: 16px;
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 1px;
    text-decoration: none;
}

.supernav_filtro_button:hover {
    background-color: #191c21;
}



.btn-rapido {
    background: none;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    outline: 3px solid #191c21;
    border-radius:100% ;
    -webkit-border-radius:100% ;
    -moz-border-radius:100% ;
    -ms-border-radius:100% ;
    -o-border-radius:100% ;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-right: 10px;
}

.btn-rapido:hover {
    background-color: #191c21;
    cursor: pointer;
}

.btn-rapido img {
    background-color: none;
    width: 20px;
    height: 20px;
    filter: invert(.8);
    -webkit-filter: invert(.8);
}

#button_menu {
    display: none;
}

.supernav_img {
    width: 20px;
    filter: invert(.8);
    margin-bottom: 2px;
    -webkit-filter: invert(.8);
}



.materias_div {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;


}


.materia_contenedor {
    flex-grow: 1;
    overflow: hidden ;
    height: auto;
    width: 25%;
    min-width: 240px ;
    padding: 15px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    background-color:#191d20 ;
    margin: 8px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    outline: none;
    border: none;
    cursor: pointer;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.materia_contenedor:hover , .otrapagina:hover {
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
}

.infouno:hover {
    background-color: transparent;
}

.infouno {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    height: 100%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    width: 100%;
}


.infouno_p , .proposito_p {
    margin: 20px 0px;
    font-size: 15px;   
    text-align: justify;
}



.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tag_tag {
    font-size: 14px;
    background-color: #272a30;
    padding: 5px 10px;
    margin: 2.5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 10px;
}

.arribainfo {
    background-color: #111315;
    padding: 15px;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 10px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.arribainfo img {
    width: 16%;
    margin-right: 10px;
    filter: invert(.8);
    -webkit-filter: invert(.8);
}

.abajoinfo {
    background-color: #111315;
    padding: 15px;
    border-radius: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: space-around;
    justify-content: space-around;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

#especial_relleno , #especial_relleno div img {
    background-color: transparent;
    color: transparent;
    filter: opacity(0) ;
    -webkit-filter: opacity(0) ;
    cursor: default;
}


.info_datos {
    margin: 0px 9px;
    height: 20px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    z-index: 0;

}

.info_datos_img {
    height: 100%;
    filter: invert(.8);
    -webkit-filter: invert(.8);
    margin-right: 6px
}


.h1_separador {
    padding-top: 90px;
    margin-left: 40px;

}

.h1_separador_h1 {
    margin-left: 40px;
    padding-top: 20px;
}

.cuestinariosdiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
}

.cuestionario_derecha {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.boton_cuestioanrio_uno {
    display: none;
}

.cuestionariomateria {
    width: 260px;
    flex-grow: 1;
    overflow: hidden ;
    height: auto;
    min-width: 200px ;
    max-width: 350px;
    padding: 15px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    background-color:#191d20 ;
    margin: 8px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.cuestionariomateria_grande {
    width: 90%;
    flex-grow: 1;
    overflow: hidden ;
    height: auto;
    padding: 9px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    background-color:#191d20 ;
    margin: 8px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    font-size: 15px;}

.info_cuestionario_grande img {
    width: 6% !important;
}

.link_descarga_grande img {
    width: 8% !important;
}

.info_cuestionario {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: #111315;
    padding: 10px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.info_cuestionario img {
    width: 49px;
    margin-right: 20px;
    filter: invert(.8);
    -webkit-filter: invert(.8);
}

.archivos_materias_cuestiona {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    align-content: space-around;
    justify-content: space-around;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    background-color: #111315;
    margin-top: 10px;
    height: 100%;
}

.archivos_materias_cuestiona_grande {
    display: flex;
    flex-direction: row;
    align-items: space-around;
    align-content: space-around;
    justify-content: space-around;
    border-radius: 30px;
    padding: 10px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    background-color: #111315;
    height: 100%; 
    font-size: 18px;
}



.link_descarga {

    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    align-content: center;
    text-decoration: none;

}

.link_descarga:hover {
    text-decoration: underline;
}

.link_descarga img{
    width: 10%;
    filter: invert(.8);
    -webkit-filter: invert(.8);
    margin-right: 10px;
}

.maspaginasdiv {
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.otrapagina {
    box-sizing: border-box;
    text-decoration: none;
    width: 250px;
    height: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    background: #191d20;
    margin: 5px;
    flex-grow: 1;
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
}


.otraspaginaimg {
    height: 70px;
    width: 70px;

}


.otraspaginap {
    text-align: justify;
}

.piedepagina {
    margin-top: 80px;
    background: #191d20;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.seccion {
    width: 250px;  
    font-size: 15px;
    padding: 20px 0px;
    box-sizing: border-box;

}

.seccionuno {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.seccionuno img {
    height: 50px;
}

.seccionuno ul {
    margin-top: 20px;
}
.seccionuno ul li{
    display: inline;
    border-right: 2px solid #cccccca1 ;
    padding: 0px 6px;
    font-size: 14px;
}

.seccionuno ul li a {
    color: #cccccca1;
    text-decoration: none;
}

.seccionuno ul li a:hover {
    color: #ccc;
}

.secciondos h3 img {
    height: 20px;
    margin-left: 8px;

}

.corazonsvg {
    filter: invert(.75);
    -webkit-filter: invert(.75);
}

.altopuntajepng {
    filter: invert(.25);
    -webkit-filter: invert(.25);
}

.secciondos {
    font-size: 13px;
    text-align: justify;
}

.secciondos p {
    color: #cccccca1;

}

.secciondos h3 {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
}

.secciontres img {
    height: 40px;
    margin-bottom: 5px;
}

.secciontres p {
    color: #cccccca1;

}
