.volador {
    box-sizing: border-box ;
    width: 100% ;
    height: auto ;
    background-color: #111315;
    flex-direction: column;
    align-items: center;
  }

  .volador div h2 {
    width: 90%;
    text-align: left;
  }

  .tptext {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #191c21;
    padding: 0;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
  
  .tptext div {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    background-color: #111315;
    border: 5px solid #191c21;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

  .tptext h2 {
    text-align: center !important;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
  }

  .tptext div span {
    margin: 0;
    padding: 0;
    width: 50%;
    text-align: center;
  }
  .volador_visible {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .otronavmas {
    box-sizing: border-box;
    background-color: #111315;
    width: 100%;
    height: 85px;
    padding: 15px 60px;
    display: flex;
    flex-direction:row ;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    flex-wrap: wrap;
    top: 0;
    z-index: 9;
    transition: top 0.3s ease-out;
    -webkit-transition: top 0.3s ease-out;
    -moz-transition: top 0.3s ease-out;
    -ms-transition: top 0.3s ease-out;
    -o-transition: top 0.3s ease-out;
}

  .otronav_img {
    height: 99%;
  }

  .supernav_volador_rigth {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }

  .otronav_button {
    text-decoration: none;
    padding: 10px 40px;
    font-weight: bold;
    border: none;
    outline: 3px solid #191c21;
    font-size: 16px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    cursor: pointer;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.otronav_button img {
  margin-right: 10px;
  width: 20px;
  filter: invert(.8);
  -webkit-filter: invert(.8);
}

.otronav_button:hover {
  background-color: #1f2125;
}

  .contenidodelvolador {
    max-width: 1100px;
    display: flex;
    flex-direction: column;

}

.info_volador {
  background-color:#191d20 ;
  padding: 20px;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
}

.info-divs-volador {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}

.title-volador {
  display: flex;
  align-items: center;
}

.img-info-volador {
  margin-right: 10px;
  width: 50px;
  filter: invert(.8);
  -webkit-filter: invert(.8);
}


.infoss {
  box-sizing: border-box;
  flex-grow: 1;
  background-color:#111315 ;
  margin: 5px;
  display: flex;
  min-height: 50px;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  margin-top: 0;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  max-width: 500px;
  text-decoration: none;

}

.infoss span {
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 9px;
}

.infoss span img {
  width: 25px;
  margin-right: 10px;
  filter: invert(.8);
  -webkit-filter: invert(.8);
}

.text-volador {
  background-color: #111315;
  padding: 15px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}


  .partedelvolador {
    box-sizing: border-box;
    margin-top: 10px;
    padding: 20px;
    padding-bottom: 0;

    
  }

  .partedelvolador h2 , .partedelvolador h1, .info_volador h1{
    font-size: 35px;
    padding: 20px 0px;
  }

  .partedelvolador p, .info_volador p{
    line-height:1.5;
    font-size: 18px;
    text-align: justify;
    margin-bottom: 20px;
  }

  .partedelvoladorconvideo {
    box-sizing: border-box;
    padding: 20px;
    padding-top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .div_botonvideo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin-top: 8px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    background-color: #272a30;
    width: 44%;
    margin: 5px;
}

.div_botonvideo_grande {
  width: 90%;
}


  .boton_video_img {
    height: 20px;
    filter: invert(.8);
    -webkit-filter: invert(.8);
    margin-left: 10px;
  }

  .boton_video {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 15px 30px;
    align-items: center;
    cursor: pointer;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    outline: none;
    border: none;
    background-color: transparent;
    width: 100%;
    background-color: #111315;
    flex-grow: 1;
  }

  .span_video_oculto {
    display: none;
  }

  .span_video {
    display: inline-block !important;
  }

  .video {
    width: 560px;
    height: 315px;
    margin: 15px 0px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}